
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table-striped">
    <thead>
        <tr>
            <th>Id</th>
        </tr>
    </thead>
    
        <tbody>
            @for (var i = 0; i < 10; i++)
            {
                <tr class="row">
                    <td>
                        @(i+1)
                    </td>
                    <td>
                        @(i+2)
                    </td>
                    <td>
                        @i
                    </td>
                </tr>
            }
        </tbody>
     
           
    
</table>