@model List<web_app_withAspNetRazor2.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table-striped">
    <thead>
        <tr>
            <th>Id</th>
        </tr>
    </thead>
    
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.ContactTitle</td>
                    <td>@customer.ContactName</td>
                    <td>@customer.CompanyName</td>
                    <td><a href="/Customers/Detail/@customer.CustomerID" class="btn btn-primary" > Visa</a></td>
                </tr>
            }
        </tbody>
     
           
    
</table>